<button
  [attr.type]="type"
  [disabled]="disabled"
  (click)="clicked.emit()"
  class="w-full text-white font-medium py-2 text-sm rounded-lg transition transform hover:-translate-y-0.5 shadow-sm"
  [ngClass]="{
    'bg-blue-600 hover:bg-blue-700': color === 'blue',
    'bg-gray-600 hover:bg-gray-700': color === 'gray',
    'bg-red-600 hover:bg-red-700': color === 'red',
    'bg-green-600 hover:bg-green-700': color === 'green',
    'opacity-50 cursor-not-allowed': disabled
  }"
>
  {{ label }}
</button>
