.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-container {
  background: #1f1f1f;
  color: #f1f1f1;
  border-radius: 1rem;
  width: 300px;
  padding: 2rem 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: translateY(-20px);
  animation: slideDown 0.3s forwards;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  transition: color 0.2s;
/* 
  &:hover {
    color: #ffcc00;
  } */
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #ffcc00;
}

.modal-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* a {
    text-decoration: none;
    color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background 0.2s, color 0.2s;

    &:hover {
      background: #333333;
      color: #ffcc00;
    }
  } */
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  to {
    transform: translateY(0);
  }
}