<div *ngIf="visible" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 px-4">

    <div class="bg-white rounded-lg p-6 w-full max-w-md">

        <h2 class="text-xl font-bold mb-4 text-center">
            Reset Password
        </h2>

        <!-- STEP 1 -->
        <div *ngIf="step === 1" class="space-y-4">
            <p class="text-sm text-gray-600">
                Generate a reset token for your account
            </p>

            <button (click)="generateToken()" [disabled]="loading" class="w-full bg-blue-600 text-white py-2 rounded">
                Generate Reset Token
            </button>
        </div>

        <!-- STEP 2 -->
        <div *ngIf="step === 2" class="space-y-4">

            <div>
                <label class="text-sm font-medium">Reset Token</label>
                <input [(ngModel)]="resetToken" class="w-full px-3 py-2 border rounded bg-gray-100">
            </div>

            <div class="relative">
                <label class="text-sm font-medium">New Password</label>

                <input [(ngModel)]="newPassword" [type]="showPassword ? 'text' : 'password'"
                    class="w-full px-3 py-2 border rounded pr-10" />

                <!-- Eye Button -->
                <button type="button" (click)="showPassword = !showPassword"
                    class="absolute right-3 top-6 text-2xl text-gray-600">

                    <!-- Hide Icon -->
                    <span *ngIf="!showPassword">👁️</span>

                    <!-- Show Icon -->
                    <span *ngIf="showPassword">🙈</span>
                </button>
            </div>


            <button (click)="resetPassword()" [disabled]="loading" class="w-full bg-green-600 text-white py-2 rounded">
                Reset Password
            </button>
        </div>

        <button (click)="close()" class="mt-4 w-full bg-gray-300 py-2 rounded">
            Cancel
        </button>

    </div>
</div>