:host {
  background-color: #000000;
  color: white;
  user-select: none;
}
:host ::ng-deep .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
:host ::ng-deep .hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
