<div *ngIf="isOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md mx-4 max-h-[90vh] overflow-y-auto">
        <!-- Modal Header -->
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold text-gray-800">
                {{ getModalTitle() }}
            </h2>
            <button (click)="onClose()" class="text-gray-500 hover:text-gray-700">
                <i class="fa-solid fa-times fa-xl fa" style="color: #6e6e6e;"></i>
            </button>
        </div>

        <!-- Edit/Add Mode: Form -->
        <form *ngIf="mode === 'add' || mode === 'edit'" [formGroup]="editForm" (ngSubmit)="onSave()">

            <div class="space-y-4">

                <!--its Common Fields -->
                <div>
                    <label class="block text-sm font-medium text-gray-700">Name *</label>
                    <input formControlName="name" type="text"
                        class="text-black mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500">
                </div>

                <!--here Product Specific Fields -->
                <div *ngIf="entityType === 'product'">
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Price</label>
                        <input formControlName="price" type="number"
                            class="text-black mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Stock</label>
                        <input formControlName="currentStock" type="number"
                            class="text-black mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Category</label>
                        <select formControlName="category"
                            class="mt-1 text-black block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500">
                            <option value="">Select a category</option>
                            <option *ngFor="let cat of categories" [value]="cat.id">
                                {{ cat.name }}
                            </option>

                        </select>
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-gray-700">Colors</label>

                        <select formControlName="colorIds" multiple
                            class="mt-1 text-black block w-full border border-gray-300 rounded-md p-2">
                            <option *ngFor="let c of colors" [value]="c.id">
                                {{ c.name }}
                            </option>
                        </select>

                        <p class="text-xs text-gray-500 mt-1">
                            CTRL + Category to select multiple categoriees
                        </p>
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-gray-700">Warranty</label>
                        <input formControlName="warranty" type="text"
                            class="text-black mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div>
                        <label class="block text-sm font-medium text-gray-700">Description</label>
                        <textarea formControlName="description" rows="3"
                            class="text-black w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                            placeholder="Enter product description"></textarea>
                    </div>

                    <div class="flex items-center">
                        <input formControlName="status" type="checkbox"
                            class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                        <label class="ml-2 block text-sm text-gray-700">
                            Active Product
                        </label>
                    </div>

                    <div class="flex items-center">
                        <input formControlName="topSelling" type="checkbox"
                            class="text-black h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                        <label class="ml-2 block text-sm text-gray-700">Top Selling</label>
                    </div>
                </div>

                <!-- Category Specific Fields -->
                <div *ngIf="entityType === 'category'">

                    <div>
                        <label class="block text-sm font-medium text-gray-700">Description</label>
                        <textarea formControlName="description"
                            class="text-black mt-1 block w-full border border-gray-300 rounded-md p-2"></textarea>
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">Status</label>
                        <select formControlName="status"
                            class="w-full px-3 py-2 text-black border border-gray-300 rounded-lg">
                            <option [ngValue]="true">Active</option>
                            <option [ngValue]="false">Inactive</option>
                        </select>
                    </div>

                </div>
                <!-- Color Specific Fields -->
                <!-- Color Specific Fields -->
                <div *ngIf="entityType === 'color'">

                    <div>
                        <label class="block text-sm font-medium text-gray-700">Hex Code *</label>
                        <input formControlName="hexCode" type="text" placeholder="#FFAA33"
                            class="mt-1 text-black block w-full border border-gray-300 rounded-md p-2">

                        <div class="text-red-600 text-xs mt-1"
                            *ngIf="editForm.get('hexCode')?.touched && editForm.get('hexCode')?.invalid">
                            Enter valid hex like #AABBCC
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="block text-sm text-gray-600">Preview</label>
                        <div class="w-full h-10 border rounded"
                            [style.background]="editForm.value.hexCode || '#ffffff'">
                        </div>
                    </div>

                    <div class="mt-3">
                        <label class="block text-sm font-medium text-gray-700 mb-1">Status</label>
                        <select formControlName="status"
                            class="w-full px-3 py-2 text-black border border-gray-300 rounded-lg">
                            <option [ngValue]="true">Active</option>
                            <option [ngValue]="false">Inactive</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="mt-6 flex justify-end space-x-3">
                <button type="button" (click)="onClose()"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 px-4 py-2 rounded-md">Cancel</button>
                <button type="submit" [disabled]="!editForm.valid"
                    class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md disabled:bg-blue-300">
                    {{ mode === 'add' ? 'Create' : 'Save' }}
                </button>
            </div>
        </form>

        <!-- Delete Mode: Confirmation -->
        <div *ngIf="mode === 'delete'">
            <p class="text-gray-700 mb-4">
                Are you sure you want to delete
                "{{ entityType === 'product' ? product?.name : category?.name }}"?
                This action cannot be undone.
            </p>
            <div class="flex justify-end space-x-3">
                <button (click)="onClose()"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 px-4 py-2 rounded-md">Cancel</button>
                <button (click)="onDelete()"
                    class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-md">Delete</button>
            </div>
        </div>

        <div *ngIf="mode === 'view' && entityType === 'user' && user">

            <div class="space-y-4 text-black">

                <!-- BASIC INFO -->
                <div class="grid grid-cols-2 gap-3">

                    <div>
                        <span class="font-semibold">User ID:</span>
                        <div>{{ user.id }}</div>
                    </div>

                    <div>
                        <span class="font-semibold">Role:</span>
                        <div class="capitalize">{{ user.role }}</div>
                    </div>

                    <div>
                        <span class="font-semibold">Name:</span>
                        <div>{{ user.name }}</div>
                    </div>

                    <div>
                        <span class="font-semibold">Email:</span>
                        <div>{{ user.email }}</div>
                    </div>

                </div>

                <!-- ACCOUNT STATUS -->
                <div class="border rounded-lg p-3 bg-gray-50">
                    <h4 class="font-semibold mb-2">Account Status</h4>

                    <div class="flex justify-between">
                        <span>Status:</span>
                        <span>
                            <span *ngIf="user.isBlocked" class="text-red-600 font-semibold">
                                Blocked
                            </span>
                            <span *ngIf="!user.isBlocked" class="text-green-600 font-semibold">
                                Active
                            </span>
                        </span>
                    </div>

                    <div class="flex justify-between" *ngIf="user.blockedAt">
                        <span>Blocked On:</span>
                        <span>{{ user.blockedAt | date:'dd/MM/yyyy hh:mm a' }}</span>
                    </div>

                    <div class="mt-2" *ngIf="user.blockedReason">
                        <span class="font-semibold">Blocked Reason:</span>
                        <p class="text-gray-700 mt-1">{{ user.blockedReason }}</p>
                    </div>
                </div>

                <!-- SYSTEM TIMESTAMPS -->
                <div class="border rounded-lg p-3 bg-gray-50">
                    <h4 class="font-semibold mb-2">Audit Info</h4>

                    <div class="flex justify-between">
                        <span>Created On:</span>
                        <span>
                            {{ user.createdOn ? (user.createdOn | date:'dd/MM/yyyy hh:mm a') : '—' }}
                        </span>
                    </div>

                    <div class="flex justify-between">
                        <span>Created By:</span>
                        <span>{{ user.CreatedBy || '—' }}</span>
                    </div>

                    <div class="flex justify-between">
                        <span>Last Modified:</span>
                        <span>
                            {{ user.ModifiedOn ? (user.ModifiedOn | date:'dd/MM/yyyy hh:mm a') : '—' }}
                        </span>
                    </div>

                    <div class="flex justify-between">
                        <span>Modified By:</span>
                        {{ user.ModifiedOn ? (user.ModifiedOn | date:'dd/MM/yyyy hh:mm a') : '—' }}
                    </div>


                    <div class="flex justify-between">
                        <span>Deleted On:</span>
                        <span>
                            {{ user.DeletedOn ? (user.DeletedOn | date:'dd/MM/yyyy hh:mm a') : '—' }}
                        </span>
                    </div>

                    <div class="flex justify-between">
                        <span>Deleted By:</span>
                        <span>{{ user.DeletedBy || '—' }}</span>
                    </div>

                </div>




            </div>

            <!-- FOOTER -->
            <div class="mt-6 flex justify-end">
                <button (click)="onClose()" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md">
                    Close
                </button>
            </div>

        </div>

    </div>
</div>