<div class="max-w-sm mx-auto mt-10 p-5 shadow rounded bg-white">
  <h2 class="text-xl font-semibold text-center mb-3 text-black">Forgot Password</h2>
  <p class="text-gray-500 text-sm mb-4 text-center">
    Enter your registered email. We will send OTP.
  </p>

  <form #f="ngForm" (ngSubmit)="submit()">

    <input type="email"
           [(ngModel)]="email"
           name="email"
           required
           email
           placeholder="Enter email"
           class="w-full border rounded px-3 py-2 mb-2 text-black" />

    <button class="w-full bg-blue-600 text-white py-2 rounded "
            [disabled]="f.invalid || loading">
      {{ loading ? 'Sending...' : 'Send OTP' }}
    </button>
  </form>
</div>
